Package: libpython3-stdlib
Source: python3-defaults
Version: 3.7.3-1~stretch
Architecture: amd64
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 37
Depends: libpython3.7-stdlib (>= 3.7.3-1~)
Section: python
Priority: optional
Multi-Arch: same
Homepage: https://www.python.org/
Description: interactive high-level object-oriented language (default python3 version)
 Python, the high-level, interactive object oriented language,
 includes an extensive class library with lots of goodies for
 network programming, system administration, sounds and graphics.
 .
 This package is a dependency package, which depends on Debian's default
 Python 3 version (currently v3.7).
