Package: libpython3-all-dbg
Source: python3-defaults
Version: 3.7.3-1~stretch
Architecture: amd64
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 6
Depends: libpython3-dbg (= 3.7.3-1~stretch), libpython3.7-dbg
Section: debug
Priority: optional
Multi-Arch: same
Homepage: https://www.python.org/
Description: package depending on all supported Python 3 debugging packages
 The package currently depends on libpython3.7-dbg, in the
 future, dependencies on jython (Python for a JVM) and ironpython (Python
 for Mono) may be added.
 .
 This package is a dependency package used as a build dependency for other
 packages to avoid hardcoded dependencies on specific Python 3 debug packages.
